.inputFields{
  /* background: #F7F8F9; */
  width: 370px;
  border-radius: 7px;
  height: 51px;
}
.form-select{
  width:370px;
  height:50px;
  border-radius:7px;
  /* background:#F7F8F9; */
  color:black;
}
.textFields{
  width:470px;
  height:70px;
  border-radius:7px;
}
.imageFields{
  width:370px;
  height:48px;
}
/**************************************/
@media (min-width: 700px) {
  .wrapper {
    overflow: hidden;
  }
  .wrapper > * {
    float: left;
    padding: 2em 2em;
  }
}

@media (min-width: 700px) {
  .contacts {
    width: 30%;
    min-height: 620px;
  }
}

@media (min-width: 700px) {
  .form {
    width: 70%;
  }
}

form p {
  float: left;
  width: 49%;
}
form p:not(:nth-child(2n)) {
  margin-right: 2%;
}
form p:last-child {
  clear: both;
  width: 100%;
}
form p:nth-last-child(2) {
  clear: both;
  width: 100%;
}

/**************************************/
body {
  padding: 1rem;
}

.wrapper {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.wrapper > * {
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.contacts {
  background: #4b5195;
  color: #fff;
}

.form {
  background: #fff;
}

form label {
  display: block;
}

/* .add-button{
  padding: 1em;
} */

input,
textarea {
  padding: 1em;
}


.upload-button {
  width: 20%;
  border: 5;
  margin-bottom: 50;
  margin-top: 16px;
  transform:translateY(50%);
 background:#1d3557;
 border-radius: 2px;
 color: white;
 border: 0px;
}
.add-button {
  width: 30%;
  height:45px;
  margin-bottom: 50;
  margin-top: 16px;
 background:#1d3557;
 border-radius: 2px;
 color: white;
 border: 0px;
 margin-left:30%;
 align-content:center;
}
button:hover, button:focus {
  background:transparent;
  border:2px solid #1d3557 ;
  color:#1d3557;
}

.contain {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
@media (min-width: 600px) {
  .contain {
    padding: 0;
  }
}

h3,
ul {
  margin: 0;
}

h3 {
  margin-bottom: 1rem;
}

