

/*signup forn*/
.signUpCol{
    
    /*padding-top: 30%;*/
    justify-items: center;
    align-self: center;
  
  }

  .topRow {

    /* margin-right: -15px;  */
    padding-left: 0%;
    padding-right: 0%;
    /* transform: translateX(6%);*/
    transform:translateX(5%);
    width:100%;
    }
    
  

    
  
  .colRight{
    /* padding-right: -6%; */
    transform: translateX(15%);
    height:80vh;
    justify-content: center;
    background-image: linear-gradient(to left,#5E6C79,#445464 );
  }

 
  .signupHeading{
    align-content: center;
     text-align: center;
     color:black;
     font-size:45px;
     margin-top: 2%;
    /*justify-self: center; */
    /* transform: translateX(30%); */
  }

  .loginSubHeading{
    align-content: center;
     text-align: center;
     margin-top: 2%;
     color:#7698B3;
  }
  .loginForm{
    padding-top: 11%;
    margin-left:28%;
    justify-self: center;
    align-self: center;
  }

  .loginFormRetailer{
    padding-top: 11%;
    margin-left:28%;
    justify-self: center;
    align-self: center;
  }
  .inputFields{
    background: #F7F8F9;
    width: 370px;
    border-radius: 5%;
    height: 46px;
  }
  
  .inputFieldsRetailer{
    background: #F7F8F9;
    width: 370px;
    border-radius: 5%;
    height: 46px;
  
  }
  

  
  .signupBtn{
    margin-top:8%;
     margin-left: 10%;    
    background:#1d3557;
    border-radius: 50px;
    width: 230px;
    height: 53px;
    color: white;
    font-weight: bold;
    border: 0px;
  }
  .loginHeading{
    color:white;
    justify-content: center;
    transform: translate(25%,30%);
    margin-top: 35%;
    font-size:35px;
  }
 
  
  .loginPara{
    color:white;
    justify-self: center;
    text-align: center;
    margin-top: 13%;
    margin-left:20%;
    margin-right: 15%;
    font-size: 20px;
  }
  .loginParaRetailer{
    color:white;
    justify-self: center;
    text-align: center;
    margin-top: 13%;
    margin-left:8%;
    margin-right: 17%;
    font-size: 20px;
  }
  .loginBtn{
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    color:white;
    box-sizing: border-box;
    background:transparent;
    align-self: center;
    align-content: center;
    width: 193px;
    height: 53px;
    transform: translateX(60%);
  }
  
  
  .loginBtnRetailer{
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    color:white;
    box-sizing: border-box;
    background:transparent;
    align-self: center;
    align-content: center;
    width: 193px;
    height: 53px;
    transform: translateX(30%);
  }
   
  
  /*for switch*/
  
  .form{
  height: auto;
  width: 100%;
  padding: 0px 0px 15px 0px;
  /* border: 2px solid rgb(0, 255, 170); */
  display: flex;
  flex-direction: column;
  justify-content:left;
  align-items: left;
  position: relative;
  /* background-color: rgb(1, 0, 22); */
  }
  
  .buttons{
  display: flex;
  width: 20%;
  flex-direction: row;
  justify-content: space-around;
  height: 40px;
  float: left;
  border-radius:100px;
  overflow: hidden; 
  border: 2px solid black;
  margin-left:3%;
  background-color: #1d3557;
  color:white;
  
  
  }
  .customer_btn,.bussiness_btn{
    color:white;
  }
  .buttons .btn{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 20%;
  z-index: 2;
  cursor: pointer;
  
  
  
  }
  
  
  #chbox:checked ~ .Bussiness_form{
  display: flex;
  transition:linear;
  }
  
  #chbox:checked ~ .customer_form{
  display: none;
  }
  
  #chbox:not(:checked) ~ .Bussiness_form{
  display: none;
  }
  
  #chbox:not(:checked) ~ .Customer_form{
  display:flex;
  }
  
  
  #chbox:checked + .layer{
  left: 12%;
  
  
  }
  #chbox:checked ~ .layer2{
  left: 12%;
  }
  #chbox{
  display: none;
  }
  
  
  .layer{
  content: '';
  height: 40px;
  width: 12%;
  background-color: transparent;
  float: right;
  
  position: absolute;
  left:15%;
  top: 0px;
  }
  .layer2{
  content: '';
  height: 40px;
  z-index: 1;
  width: 5%;
  background-color: #5E6C79;
  border-radius: 100px;
  float: right;
  position: absolute;
  left: 3%;
  top: 0px;
  color:white;
  }